<p>USOS Y CONDICIONES

La aplicación “BioModelos” tiene la intención de abrir un espacio para la discusión y evaluación de modelos de distribución geográfica de especies.

La información descargable de este sitio NO es información oficial, NO refleja la distribución real de la especies. La información representa una HIPOTESIS de una PROBABLE distribución geográfica asociada a la especie y puede contener ERRORES y SESGOS asociados a los datos y la estimación estadística de la distribución.

En consecuencia, el uso o productos derivados de la información que usted va a descargar es enteramente su responsabilidad y debe ser única y exclusivamente para fines de carácter educativo, de investigación y sin fines de lucro.

Citar la información descargada con el siguiente formato: Autor (fecha de publicación), nombre de la especies, ID del modelo, Publicador.
·  Autor: Laboratorio de Biogeografía Aplicada y Bioacústica
·  Fecha de publicación: 2014
·  Publicador: Instituto de Investigación de Recursos Biológicos Alexander von Humboldt.</p>
