
<h1>Modelos de Distribución de Especies</h1>
<p>Find me in app/views/models/index.html.erb</p>
<button type="button" id="editBtn" class="btn">Edicion</button><br /><br />
<button type="button" id="saveBtn" class="btn">Guardar</button>
<div id="map"></div>
<%= javascript_include_tag 'leaflet.draw' %>
<%= javascript_include_tag 'mapEditor' %>
