<div class="contenedor botonesperfil clearfix">
	<a href="#" class="editperfil">
	</a>
	<div class="funcperfil">
		<a href="#"></a>
		<a href="#"></a>
	</div>
</div>
<div class="perfilline" id="lineap"></div>
<div class="contenedor fixfooter">
	<div class="perfilcol1 clearfix" id="col1p">
		<article class="perfildata" id="alturap">
			<div class="perfilimg">
				<%= image_tag("fotoperfil.png") %>
			</div>
			<section class="perfilexp">
				<h1>Petet Díaz</h1>
				<h2>Especialista en Aves y microorganismos</h2>
				<h3>Universidad Nacional de Colombia · Sede Amazonas</h3>
				<h4>Leticia, Colombia</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper placerat nisl, et dapibus leo. Vivamus velit metus, mollis sed libero non, suscipit facilisis erat. In lobortis, nisl vel gravida fringilla, velit lacus tincidunt urna, pretium sagittis risus mauris at velit. Pellentesque pharetra enim tristique sem feugiat, quis viverra urna blandit. Aliquam molestie nisi non laoreet sagittis. Maecenas id enim felbibendum diam in tempus. Quisque facilisis nec est eu auctor. pharetra iaculis.</p>
			</section>
		</article>
	</div>
	<div class="perfilcol2 clearfix" id="col2p">
		<div class="cajas">
			<h5>ranking mensual</h5>
			<section class="ranking">
				<h1>1</h1>
				<p><a href="#">Camilo Buitrago</a> · 10 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>2</h1>
				<p><a href="#">Cesar Gutierrez</a> · 10 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>3</h1>
				<p><a href="#">Daniel Lopez</a> · 9 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>4</h1>
				<p><a href="#">Iván González</a> · 9 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>5</h1>
				<p><a href="#">Felipe Perez</a> · 8 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>6</h1>
				<p><a href="#">Johnn Doe</a> · 7 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>7</h1>
				<p><a href="#">Petet Diaz</a> · 6 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>8</h1>
				<p><a href="#">San Fermin Lopez</a> · 6 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>9</h1>
				<p><a href="#">Adriana Sanchez</a> · 5 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>10</h1>
				<p><a href="#">Alejandra Buitrago</a> · 4 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){
	function recalcular (){
		var altura = $('#alturap').height();
		$('#lineap').height(altura);
		$('#col1p').css( "margin-top", -altura);
		$('#col2p').css( "margin-top", -altura);
	}
	recalcular();
$(window).resize(function() {
		recalcular();
	});
});


</script>