<div class="bg4">
	<div class="contacto">
	<div class="mailimg"></div>
	              <h2>Mantengase en contacto con nosotros, estamos para atender sus dudas, oir sus opiniones y sugerencias.</h2>
            <form class="forma" method="post" action="mail.php" name="contacto">
                        <input type="text" maxlength="50" placeholder="Nombre o Institución" name="nombre">
                        <input type="text" maxlength="50" placeholder="Asunto" name="asunto">
                        <input type="email" maxlength="50" placeholder="E-mail" name="email">
                        <textarea maxlength="1200" placeholeder="Mensaje" name="cuerpo" cols="20" rows="12"></textarea></br>
                        <input class="boton1" type="submit" value="ENVIAR">
            </form>
	</div>
</div>