<div class="inicio contenedor">
	<article class="maincol">
		<header class="BioM">
			<h1>BioModelos<h1>
			<p>Aplicación de Verificación y Consulta</br>
			de Modelos de Distribución de</br>
			Especies en Colombia</p>
		</header>
		<section class="intro">
			<h5>El primer objetivo de BioModelos es generar un canal de comunicación entre expertos y el LBAB, para así <strong>verificar</strong> los datos y modelos obtenidos por el LBAB y conseguir resultados robustos que acerquen a todos los usuarios a una información más precisa sobre la distribución de especies en Colombia.</br>
			</br>
			El segundo objetivo es compartir abiertamente los datos y resultados generados por el LBAB al público general, concretamente los modelos de distribución de especies en Colombia, para que sean utilizados como <strong>referencia</strong> en estudios e investigaciones.</h5>
		</section>
	</article>
	<article class="opciones">
		<!--<div class="lineop clearfix">
			<div class="cirazul"></div>
			<h3>opciones como usuario</h3>
			<div class="cirazul"></div>
			<div class="cirnaranja"></div>
			<h3>opciones como experto</h3>
		<div>-->
		<div class="op">
			<h2 class="ingresa">1.</h2>
			<p>Ingresa o Registrate</p>
		</div>
		<div class="op">
			<h2 class="selecciona">2.</h2>
			<p>Selecciona una especie</p>
		</div>
		<div class="op">
			<h2 class="consulta">3.</h2>
			<p>Consulta modelos</p>
		</div>
		<div class="op">
			<h2 class="edita">4.</h2>
			<p>Verifica y Edita</p>
		</div>
		<div class="op">
			<h2 class="comenta">5.</h2>
			<p>Comenta</p>
		</div>
		<div class="op">
			<h2 class="red">6.</h2>
			<p>Red de Contacto</p>
		</div>
	</article>
</div>