<p>Hola, <%= @resource.name %>!</p>

<p>Hemos recibido una petición para cambiar tu contraseña. Lo puedes hacer a través del link que se encuentra a continuación.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no realizaste esta solicitud, puedes ignorar éste correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y crees una nueva.</p>

<p>En caso de que tengas algún incoveniente durante el proceso, escríbenos a <a href="mailto:biomodelos@humboldt.org.co">biomodelos@humboldt.org.co</a></p>

<p>Atentamente, Equipo BioModelos<br />
   <a href='http://biomodelos.humboldt.org.co' target='_blank'>biomodelos.humboldt.org.co</a>
</p>

