<div class="fondo3">
<article class="faqshow">
	<div class="faqtitle clearfix">
	<h1>FAQ</h1>
	<h2>preguntas</br>frecuentes</h2>
	</div>
	<ul>
		<li class="qya">
			<h3>¿De dónde provienen los datos de distribución?</h3>
			<p>Los datos usados en los modelos que se presentan aquí provienen principalmente de bases de datos biológicos de acceso libre, como el Sistema de Información de Biodiversidad de Colombia (SIB, <a href="http://www.sibcolombia.net/" target="_blank">www.sibcolombia.net</a>) y el Global Biodiversity Information Facility (GBIF, <a href="http://www.gbif.org/" target="_blank">www.gbif.org</a>) . Una pequeña proporción de los datos proviene de proyectos puntuales del Instituto Humboldt así como de convenios con otros institutos de investigación como el SINCHI e INVEMAR.</p>
		</li>
		<li class="qya">
		<h3>¿Cómo se procesan los datos de distribución?</h3>
		<p>Cada registro es validado taxonómica y geográficamente. La validación taxonómica consiste en estandarizar la nomenclatura científica usando Catalogue of Life (<a href="http://www.catalogueoflife.org/" target="_blank">www.catalogueoflife.org</a>). Los registros con nombres científicos que no están indexados por Catalogue of Life (bien sea como nombre válido o como sinónimo) son excluidos del modelamiento. La validación geográfica consiste en verificar que el país, departamento y municipio reportado para cada registro coincida con el país, departamento y municipio en el que caen las coordenadas reportadas del registro. Los registros que no superan ese filtro geográfico son excluidos del modelamiento.</p>
		</li>
		<li class="qya">
		<h3>¿Qué variables ambientales se usan en el modelamiento?</h3>
		<p>En la actualidad utilizamos el conjunto de 19 variables bioclimáticas provisto en WorldClim (<a href="http://www.worldclim.org/bioclim" target="_blank">www.worldclim.org/bioclim</a>). Aunque existe un cierto grado de redundancia en esas variables, muchas de estas son excluidas automáticamente durante el desarrollo de los modelos.</p>
		</li>
		<li class="qya">
		<h3>¿Cómo modelan las distribuciones de especies?</h3>
		<p>Los modelos presentados aquí fueron desarrollados utilizando MAXENT (<a href="http://www.cs.princeton.edu/~schapire/maxent/" target="_blank">www.cs.princeton.edu/~schapire/maxent</a>), un método basado en el principio de máxima entropía. Aunque existen muchos métodos de modelamiento y varios autores abogan por el uso de múltiples técnicas estadísticas, preferimos concentrarnos en un solo método que ha demostrado funcionar bien y que, correctamente parametrizado, es equivalente a muchos de los otros métodos existentes (e.g. modelos lineales, modelos aditivos, etc.). Nosotros preferimos la simplicidad en el modelo, y por eso mismo, aceptamos únicamente respuestas de tipo linear, cuadrático y bisagra, que capturan adecuadamente las respuestas de las especies al ambiente.</p>
		</li>
		<li class="qya">
		<h3>¿Cómo convierten las predicciones continuas de MAXENT a mapas de presencia-ausencia?</h3>
		<p>Dado que ningún umbral funciona consistentemente bien en los modelos construidos con datos de sólo presencia, nuestros modelos son convertidos a una escala binaria usando el umbral de mínima presencia (modelos 1 y 2) o el umbral de 10% de omisión (modelos 3 y 4). En el primer caso, se toma como umbral índice de idoneidad mínimo asociado con un registro de presencia. En el segundo, se toma como umbral el décimo percentil de los índices de idoneidad asociados con los registros de presencia utilizados en el modelamiento.</p>
		</li>
		<li class="qya">
			<h3>¿Cómo se incluyen las habilidades de dispersión de las especies en los modelos?</h3>
			<p>En general las especies están limitadas a regiones específicas por qué no tienen la capacidad de dispersarse hacia regiones que poseen condiciones adecuadas para su supervivencia. Dado que los modelos presentados aquí no incluyen información sobre las capacidades de dispersión de las especies, estos a menudo predicen la distribución de las especies en áreas inaccesibles a estas (modelos 1 y 3). Nuestro método para reducir esa sobrepredicción consiste en eliminar aquellos parches de distribución (áreas continuas de condiciones adecuadas para las especies) que carecen de evidencia de ocupación (modelos 2 y 4). En otras palabras, escogemos los parches que tienen al menos un registro de presencia de las especies. </p>
		</li>
	</ul>
</article>	
</div>
